body {
    background-color: rgb(3, 0, 17);
    color: blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
    padding: 0%;
}

.counter {
    background-color: #bb86fc;
    border-radius: 4px;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    outline: none;
}

.number-counter {
    font-size: 32px;
}

.btn {
    background-color: #03dac5;
    color: #000;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}

.btn:active {
    transform: scale(1.1);
}